@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp26</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Wizard(Default)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Wizard(ButtonTemplate)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Wizard(ButtonTemplate)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sortablelist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SortableList
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TwoItemSortableList">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> TwoItemSortableList
            </NavLink>
        </div>

    </nav>
</div>
*@


<FluentNavMenuTree>
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.FormMultiple())"
                       Text="Wizard(Default)"
                       Href="/" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.FormMultiple())"
                       Text="Wizard(ButtonTemplate)"
                       Href="counter" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.FormMultiple())"
                       Text="Wizard(ButtonTemplate)"
                       Href="weather" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.ArrowSort())"
                       Text="SortableList"
                       Href="sortablelist" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.ArrowSort())"
                       Text="TwoItemSortableList"
                       Href="TwoItemSortableList" />
</FluentNavMenuTree>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
